#home {
  margin: 60px;
  .product-item {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 150px;
    height: 100%;
    border: 0px;
    border-radius: 10px;
  }
}
