.ant-card-body {
  margin: 0 !important;
  padding: 0px !important;
  width: max-content;
}
.home {
  margin: 60px;
}
.img {
  height: 100%;
  /* width: 100%; */
  /* display: flex; */
}

.price {
  margin: 0;
}
.textarea {
  display: flex !important;
}
.texts {
  padding: 0 15px 15px 15px;
}

.product-item{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 150px;
    height: 100%;
    border: 0px;
    
}
.ant-image-preview-operations-operation:not(:first-child) {
  display: block;
  
}
.ant-card-bordered {
  border: 0px solid #f0f0f0 !important;
}